html,
body{
    margin:0;
    overflow: hidden;
    min-height: 100vh;
    background-color: #0d1019;
    background-image: linear-gradient(135deg, #0d1019 0%,#161b29 100%);
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bars-common{
    height: 4vw;
    width: 1vw;
    margin: auto;
    position: absolute;
    box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
}

.bar-one{
    left: 0;
    right: 4vw;
    top: 0;
    bottom:0;
    animation: barAnim 1s .33s ease infinite;
}

.bar-two{
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    animation: barAnim 1s .66s ease infinite;
}

.bar-three{
    left: 4vw;
    right: 0;
    top: 0;
    bottom:0;
    animation: barAnim 1s .99s ease infinite;
}

@keyframes barAnim{
    0%,
    100%{
        box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
    }
    50%{
        box-shadow: 0 0 0 0.1vw magenta, 0 0 1vw 0 magenta, inset 0 0 0.5vw 0 magenta;
    }
}

.squares-common{
    height: 8vw;
    width: 8vw;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
}

.square-one{
    animation: squareOne 4s .99s ease infinite;
}

@keyframes  squareOne{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-180deg);
    }
}

.square-two{
    animation: squareTwo 4s .99s ease infinite;
}

@keyframes  squareTwo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}